<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Subscribe to plan "{{ option.name }}"</h1>

    <form action="/subscribe/{{ option.id }}">
        {% comment %} HW1: add username field {% endcomment %}
        <input name="username" placeholder="your username"/> <!-- JS Johny998 -->
        <br>
        <input name="full-name" placeholder="your full name"/> <!-- John Johny999 John Smith Johny Doe-->
        <br>
        <input name="email" placeholder="your email"/> <!-- j@example.host j999@example.host js1example.host j998@example.host-->
        <br>
        <input name="phone" placeholder="your phone"/> <!-- 123456 1234569999 987654321 1234569998-->
        <br>
        <button>APPLY</button>
    </form>
    
</body>
</html>